.nectersugar {
  font-family: Bebas Neue;
  font-size: 200px;
  font-weight: 400;
  line-height: 180.85px;
  letter-spacing: 30px;
  text-align: left;
  color: #eee600;
  opacity: 0.5;
}

.abtheroparent {
  display: flex;
}

.aboutheropage {
  height: 115vh;
  background-color: #fbf6f2;
}

.groupofcanabout {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
}

.aboutright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 75%;
  height: 80vh;
}

.aboutright > .blackheadingfont {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}
.ourvisionleft img,
.ourmissionleft img {
  mix-blend-mode: multiply;
}

.aboutright > .subheading {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #797979;
}
.aboutsecondhero > img {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.ourmission .blackheadingfont {
  width: fit-content;
}
.ourmission .subheading {
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 1rem;
  text-align: left;
}
.ourmissionleft {
  width: 50%;
}
.ourmissionright {
  width: 50%;
}
.ourmission {
  padding: 3rem 3rem !important;
  margin: 2rem 0rem;
  border-radius: 1rem;
  background-color: #e9f3f6;
  gap: 5rem;
}
.ourvision {
  padding: 3rem 3rem !important;
  margin: 2rem 0rem;
  border-radius: 1rem;
  gap: 5rem;
  background-color: #107e6e;
}
.ourvision .blackheadingfont {
  width: fit-content;
  color: white;
}
.ourvision .subheading {
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 1rem;
  text-align: left;
  color: white;
}
.ourvisionleft {
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 19% 81% 20% 80% / 89% 30% 70% 11%;
}
.ourvisionright {
  width: 50%;
}
.ourmissionleft {
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 19% 81% 20% 80% / 89% 30% 70% 11%;
}
@media (max-width: 768px) {
  .abtheroparent {
    flex-direction: column;
  }
  .nectersugar {
    font-size: 70px;
    line-height: 90px;
  }
  .groupofcanabout {
    top: 74%;
    display: none;
  }
  .aboutright {
    height: 100%;
    width: 100%;
  }
  .aboutright .blackheadingfont {
    font-size: 28px;
    line-height: 40px;
  }
  .aboutheropage {
    height: 100%;
  }
  .aboutsecondhero > img {
    width: 100%;
  }
  .ourvision {
    flex-direction: column-reverse;
    padding: 2rem 0rem !important;
  }
  .ourmission {
    flex-direction: column;
    padding: 2rem 0rem !important;
  }
  .ourmissionleft img {
    mix-blend-mode: multiply;
    width: 100%;
  }
  .ourmissionleft {
    width: 70%;
    margin: auto;
  }
  .ourvisionleft {
    width: 70%;

    margin: auto;
  }
  .ourvisionleft img,
  .ourmissionleft img {
    mix-blend-mode: multiply;
    width: 100%;
  }
  .ourmissionright,
  .ourvisionright {
    width: 100%;
    padding: 0rem 1rem;
  }
  .ourmission .subheading {
    font-size: 16px;
    line-height: 30px;
  }
}
