.contactuscontainer {
    background-color: #e9f3f6;
}
.inputtext {
    border-top: none;
    border-left: none;
    border-right: navajowhite;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    padding: 2rem 0rem 0.5rem 0rem;
}
.contactleft > .blackheadingfont {
    width: 75%;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}
.contactleft > .subheadingfont {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    width: 60%;
    text-align: left;
}
.contactcontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 0rem;
    margin-bottom: 2rem;
    width: 100%;
}
.inputparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.dottedarrow {
    position: absolute;
    left: 39%;
    width: 21%;
    top: 43%;
}
/* .contactform .error{
    font-size: 12px;
    margin-top: 6px;
    font-weight: 600;
    color: red;
} */
 .errorparent > label{
    font-size: 12px;
    color: red;
    font-weight: 600;
    margin-top: 5px;
 }
@media (max-width: 900px) {
    .contactcontent {
        padding: 2rem 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
    }
    .dottedarrow {
       display: none;
    }
    #contactUsFrm{
        width: 100%;
    }
    .inputparent>div{
        width: 100%;
    }
    .contactleft > .blackheadingfont {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 46px;
    }
    .contactleft > .subheadingfont {
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        width: 100%;
    }
    .contactform {
        width: 100%;
    }
    .inputparent {
        flex-direction: column;
        gap: 0rem;
    }
    .inputtext {
        width: 100%;
    }
    .successbutton {
        width: 100%;
    }
}
